* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul {
	list-style: initial;
}
li {
	display: inline-block;
}


html, body {
	width: 100%;
	height: 100%;
}

.front-page {
	display: flex;
	align-items: center;
	background: url(../assets/img/front-bg.jpg) center center / cover no-repeat;
}

.front-page .container-fluid {
	padding: 0 50px;
}

.front-box {
	padding: 20px;
	border-radius: 15px;
	border: 2px solid #495057;
	background: #fff;
}
.buttons-container {
	display: flex;
	justify-content: space-between;
}


/* news styles */
/*TODO add carousel, add paggination */

nav {
	box-shadow: 0 -2px 18px 0 gray;
}
nav li {
	display: flex;
	align-items: center;
}
nav li:not(:last-of-type) {
	margin-right: 30px;
}
.navbar-nav {
	width: 100%;
	justify-content: flex-end;
}
.user-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.user-block img{
	width: 100px;
}
.user-block .caption{
	color: #fff;
}

.news-container {
	margin-top: 40px;
	padding: 15px 25px;
	box-shadow: 1px 1px 20px 0 rgba(0,0,0,0.75);
}
.news-container .image-container {
	position: relative;
	padding: 6px;
	overflow: hidden;
}

.news-container .image-container img{
	position: relative;
	width: 100%;
	transform: translate3d(0, 0, 0);
	object-fit: cover;
}

.custom-popover {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
	padding-top: 20px
}

.custom-popover button {
	cursor: pointer;
}
